<form name="editForm" role="form" novalidate (ngSubmit)="save()" #f="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myClientLabel" jhiTranslate="jhipsterApp.client.home.createOrEditLabel">Create or edit a Client</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!client.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="client.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jhipsterApp.client.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                   [(ngModel)]="client.name" required pattern="[A-Z, a-z]{1,}" #name="ngModel" (focus)="Typing(0,true)" (blur)="Typing(0,false)" />

            <div [hidden]="name.valid || isTyping[0]"
                 class="alert alert-danger" >
                <span jhiTranslate="jhipsterApp.client.name">Name</span><span jhiTranslate="jhipsterApp.client.required"> is required</span>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jhipsterApp.client.surname" for="field_surname">Surname</label>
            <input type="text" class="form-control" name="surname" id="field_surname"
                   [(ngModel)]="client.surname" required pattern="[A-Z, a-z]{1,}" #surname="ngModel" (focus)="Typing(1,true)" (blur)="Typing(1,false)" />
            <div [hidden]="surname.valid || isTyping[1]"
                 class="alert alert-danger">
                <span jhiTranslate="jhipsterApp.client.surname">Surname</span><span jhiTranslate="jhipsterApp.client.required"> is required</span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jhipsterApp.client.phoneNumber" for="field_phoneNumber">Phone Number</label>
            <input type="number" class="form-control" name="phoneNumber" id="field_phoneNumber"
                   [(ngModel)]="client.phoneNumber" required pattern="[0-9]{9}" #phoneNumber="ngModel" (focus)="Typing(2,true)" (blur)="Typing(2,false)" />
            <div [hidden]="phoneNumber.valid || isTyping[2]"
                 class="alert alert-danger">
                <span jhiTranslate="jhipsterApp.client.phoneNumber">phone Number</span><span jhiTranslate="jhipsterApp.client.invalid"> is invalid</span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jhipsterApp.client.emailAdress" for="field_emailAdress">Email Adress</label>
            <input type="text" class="form-control" name="emailAdress" id="field_emailAdress"
                   [(ngModel)]="client.emailAdress" required
                   pattern="(^[a-z, A-Z, 0-9]+@[a-z, A-Z, 0-9]+\.[a-z,A-Z,0-9]{1,})" #emailAdress="ngModel"
                   (focus)="Typing(3,true)" (blur)="Typing(3,false)" />
            <div [hidden]="emailAdress.valid || isTyping[3]"
                 class="alert alert-danger">
                <span jhiTranslate="jhipsterApp.client.emailAdress">email</span><span jhiTranslate="jhipsterApp.client.invalid"> is invalid</span>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="f.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
