<div>
    <div class="row">

        <div *ngFor="let contact of contacts ;"  class="col-md-12">
            <h2 class="text-center">
            <button *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_OWNER']" type="submit"
                    [routerLink]="['/', { outlets: { popup: 'contact-my-suffix/'+ contact.id + '/edit'} }]"
                    replaceUrl="true"
                    queryParamsHandling="merge"
                    class="btn btn-primary btn-sm">
                <span class="fa fa-pencil"></span>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
            </button>
            <button *jhiHasAnyAuthority="'ROLE_ADMIN'" type="submit"
                    [routerLink]="['/', { outlets: { popup: 'contact-my-suffix/'+ contact.id + '/delete'} }]"
                    replaceUrl="true"
                    queryParamsHandling="merge"
                    class="btn btn-danger btn-sm">
                <span class="fa fa-remove"></span>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
            </button>
            <button *jhiHasAnyAuthority="'ROLE_ADMIN'" class="btn btn-primary btn-sm jh-create-entity create-contact-my-suffix" [routerLink]="['/', { outlets: { popup: ['contact-my-suffix-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="jhipsterApp.contact.home.createLabel">
                 Create new Contact
            </span>
            </button>
            </h2>
        </div>
    </div>
    <div>
    <br>
    <div class="row">
        <div class="col-md-12 text-center" *ngFor="let contact of contacts ;">
            <h2>{{contact.localName}}</h2>
            <p jhiTranslate="jhipsterApp.contact.phoneNumber">ID</p>
            <p>{{contact.phoneNumber}}</p>
            <p jhiTranslate="jhipsterApp.contact.emailAdress">ID</p>
            <p>{{contact.emailAdress}}</p>
            <p jhiTranslate="jhipsterApp.contact.adress">ID</p>
            <p>{{contact.adress}}</p>
        </div>
    </div>
        <div class="col-md-12">
            <agm-map [latitude]="lat" [longitude]="lng">
                <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
            </agm-map>
        </div>
    </div>
</div>
<br>
