<form name="deleteForm" (ngSubmit)="confirmDelete(room.id)">
    <div class="modal-header centerStuff">
        <h4 class="modal-title" jhiTranslate="jhipsterApp.room.home.gallery" translateValues="{id: '{{room.roomNumber}}'}">This is Gallery</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <br/>
    <div id="testowy" [@imgAnimation]="state" >
        <div id="photoContainer" *ngIf="imgAmount">
            <img class="imgResize"  [src]="'data:' + room.photos[currentImg].roomimg1ContentType + ';base64,' + room.photos[currentImg].roomimg1" alt="room image"/>
         </div>
        <div id="controlButtons" [@imgAnimation]="state" (@imgAnimation.done)="test($event)">
            <input type="button" jhiTranslate="jhipsterApp.room.previous" (click)="animateTransition('previous')" [disabled]="currentImg == 0" class="pad" value="Previous" />
            <input type="button" jhiTranslate="jhipsterApp.room.next"  (click)="animateTransition('next')" [disabled]="currentImg == imgAmount-1" class="pad odstep" value="Next" />
        </div>
    </div>
    <div class="modal-footer">
    </div>
</form>
