
<div *ngIf="room">
    <h2><span jhiTranslate="jhipsterApp.room.detail.title">Room</span> {{room.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="jhipsterApp.room.roomNumber">Room Number</span></dt>
        <dd>
            <span>{{room.roomNumber}}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterApp.room.numberOfPersons">Number Of Persons</span></dt>
        <dd>
            <span>{{room.numberOfPersons}}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterApp.room.price">Price</span></dt>
        <dd>
            <p *ngIf="room.price">{{room.price}} zł</p>
            <p *ngIf="!room.price">-</p>
        </dd>
        <dt><span jhiTranslate="jhipsterApp.room.state">State</span></dt>
        <dd>
            <p *ngIf="room.state == true" jhiTranslate="jhipsterApp.room.occupied">occupied</p>
            <p *ngIf="room.state == false" jhiTranslate="jhipsterApp.room.available">available</p>
        </dd>
        <dt><span jhiTranslate="jhipsterApp.room.inventory">Inventory</span></dt>
        <dd>
            <p *ngIf="room.inventory">{{room.inventory}}</p>
            <p *ngIf="!room.inventory">-</p>
        </dd>
        <dt><span jhiTranslate="jhipsterApp.room.photos">Photos</span></dt>
        <dd>
            <a *ngIf="room.photos.length" [routerLink]="['/', { outlets: { popup: 'room-my-suffix/'+ room.id + '/edit/img'} }]">img</a>
            <p *ngIf="!room.photos.length">-</p>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'room-my-suffix/'+ room.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
