
<div *ngIf="room">
    <h2><span jhiTranslate="jhipsterApp.room.detail.title">Room</span> {{room.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="jhipsterApp.room.roomNumber">Room Number</span></dt>
        <dd>
            <span>{{room.roomNumber}}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterApp.room.numberOfPersons">Number Of Persons</span></dt>
        <dd>
            <span>{{room.numberOfPersons}}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterApp.room.price">Price</span></dt>
        <dd>
            <span>{{room.price}}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterApp.room.state">State</span></dt>
        <dd>
            <span>{{room.state}}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterApp.room.inventory">Inventory</span></dt>
        <dd>
            <span>{{room.inventory}}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterApp.room.roomimg1">Roomimg 1</span></dt>
        <dd>
            <div *ngIf="room.roomimg1">
                <a (click)="openFile(room.roomimg1ContentType, room.roomimg1)">
                    <img [src]="'data:' + room.roomimg1ContentType + ';base64,' + room.roomimg1" style="max-width: 100%;" alt="room image"/>
                </a>
                {{room.roomimg1ContentType}}, {{byteSize(room.roomimg1)}}
            </div>
        </dd>
        <dt><span jhiTranslate="jhipsterApp.room.roomimg2">Roomimg 2</span></dt>
        <dd>
            <div *ngIf="room.roomimg2">
                <a (click)="openFile(room.roomimg2ContentType, room.roomimg2)">
                    <img [src]="'data:' + room.roomimg2ContentType + ';base64,' + room.roomimg2" style="max-width: 100%;" alt="room image"/>
                </a>
                {{room.roomimg2ContentType}}, {{byteSize(room.roomimg2)}}
            </div>
        </dd>
        <dt><span jhiTranslate="jhipsterApp.room.roomimg3">Roomimg 3</span></dt>
        <dd>
            <div *ngIf="room.roomimg3">
                <a (click)="openFile(room.roomimg3ContentType, room.roomimg3)">
                    <img [src]="'data:' + room.roomimg3ContentType + ';base64,' + room.roomimg3" style="max-width: 100%;" alt="room image"/>
                </a>
                {{room.roomimg3ContentType}}, {{byteSize(room.roomimg3)}}
            </div>
        </dd>
        <dt><span jhiTranslate="jhipsterApp.room.roomimg4">Roomimg 4</span></dt>
        <dd>
            <div *ngIf="room.roomimg4">
                <a (click)="openFile(room.roomimg4ContentType, room.roomimg4)">
                    <img [src]="'data:' + room.roomimg4ContentType + ';base64,' + room.roomimg4" style="max-width: 100%;" alt="room image"/>
                </a>
                {{room.roomimg4ContentType}}, {{byteSize(room.roomimg4)}}
            </div>
        </dd>
        <dt><span jhiTranslate="jhipsterApp.room.roomimg5">Roomimg 5</span></dt>
        <dd>
            <div *ngIf="room.roomimg5">
                <a (click)="openFile(room.roomimg5ContentType, room.roomimg5)">
                    <img [src]="'data:' + room.roomimg5ContentType + ';base64,' + room.roomimg5" style="max-width: 100%;" alt="room image"/>
                </a>
                {{room.roomimg5ContentType}}, {{byteSize(room.roomimg5)}}
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'room-my-suffix/'+ room.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
